<!DOCTYPE html>
<html>
<head>
  <title>法人查询</title>
  <#include "/inc/header.html">
  <style>
    #app{padding:8px;}
  </style>
</head>
<body>
<div id="app" v-cloak>
  <div>
    <el-row class="grid-btn">
      <el-col :span="4">
        <el-input v-model="query.orgName" @keyup.enter="query" clearable placeholder="法人名称"></el-input>
      </el-col>
      <el-col :span="4" :offset="1">
        <el-input v-model="query.orgCode" @keyup.enter="query" clearable placeholder="组织机构代码"></el-input>
      </el-col>
      <el-col :span="4" :offset="1">
        <el-input v-model="query.credCode" @keyup.enter="query" clearable placeholder="信用代码"></el-input>
      </el-col>
      <el-col :span="4" :offset="1">
        <el-input v-model="query.regAddr" @keyup.enter="query" clearable placeholder="注册地址"></el-input>
      </el-col>
      <el-col :span="4" :offset="1">
        <el-button type="primary" @click="handleQuery"><i class="fa fa-search"></i>&nbsp;查询</el-button>
      </el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :span="24">
        <el-table
          :data="list"
          border
          size="mini"
          :stripe="true"
          height="510"
          style="width: 100%"
          highlight-current-row>
          <el-table-column
            label="序号"
            width="50"
            type="index"
            align="center">
          </el-table-column>
          <el-table-column
            prop="uni_soci_cred_code"
            label="统一社会信用代码"
            align="center"
            width="150">
          </el-table-column>
          <el-table-column
            prop="org_nm"
            label="机构名称"
            :show-overflow-tooltip="true"
            align="center"
            width="180">
          </el-table-column>
          <el-table-column
            prop="corp_type_cd"
            label="法人类型代码"
            align="center"
            width="100">
          </el-table-column>
          <el-table-column
            prop="econ_type_cd"
            label="经济类型代码"
            align="center"
            width="100">
          </el-table-column>
          <el-table-column
            prop="org_code"
            label="组织机构代码"
            align="center"
            width="100">
          </el-table-column>
          <el-table-column
            prop="reg_num"
            label="注册号"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="tax_reg_cert_num"
            label="税务登记证号"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="nati_econ_indu_cd"
            label="国民经济行业代码"
            align="center"
            width="120">
          </el-table-column>
          <el-table-column
            prop="busi_scope"
            label="经营范围"
            width="230"
            :show-overflow-tooltip="true"
            align="center">
          </el-table-column>
          <el-table-column
            prop="reg_cap"
            label="注册资金"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="legal_pers_name"
            label="法定代表人姓名"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="esta_dt"
            label="成立日期"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="reg_addr"
            label="注册地址"
            align="center"
            :show-overflow-tooltip="true"
            width="150">
          </el-table-column>
          <el-table-column
            prop="mang_stat_cd"
            label="经营状态代码"
            align="center"
            width="100">
          </el-table-column>
          <el-table-column
            prop="taxp_stat_cd"
            label="纳税人状态代码"
            align="center"
            width="120">
          </el-table-column>
          <el-table-column
            prop="open_reg_dt"
            label="开业登记日期"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="revk_dt"
            label="注吊销日期"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="cert_dt"
            label="发证日期"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="valid_start_end"
            label="有效日期"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="cert_org_nm"
            label="发证机构名称"
            align="center"
            :show-overflow-tooltip="true"
            width="150">
          </el-table-column>
          <el-table-column
            prop="cont_tel"
            label="联系电话"
            align="center"
            width="130">
          </el-table-column>
          <el-table-column
            prop="contact"
            label="联系人"
            align="center"
            width="100">
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
 </div>
<script src="${request.contextPath}/static/js/module/query/crop.js?_${.now?long}"></script>
</body>
</html>