<!DOCTYPE html>
<html>
<head>
  <title>人口查询</title>
  <#include "/inc/header.html">
  <style>
    #app {
      padding: 8px;
    }
  </style>
</head>
<body>
<div id="app" v-cloak>
  <div>
    <el-row class="grid-btn">
      <el-form ref="queryForm" :model="query" :inline="true">
        <el-col :span="3">
          <el-form-item size="mini">
            <el-input v-model="query.housAddr" @keyup.enter="query" clearable placeholder="户口地址"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="3" :offset="1">
          <el-form-item size="mini">
            <el-input v-model="query.currAddr" @keyup.enter="query" clearable placeholder="现地址"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="4" :offset="1">
          <el-button type="primary" @click="handleQuery"><i class="fa fa-search"></i>&nbsp;查询</el-button>
        </el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :span="24">
        <el-table
            :data="list"
            border
            size="small"
            :stripe="true"
            style="width: 100%"
            :fit="true"
            highlight-current-row
            height="430">
          <el-table-column
              label="序号"
              width="50"
              type="index"
              align="center">
          </el-table-column>
          <el-table-column
              prop="name"
              label="姓名"
              align="center">
          </el-table-column>
          <el-table-column
              prop="gender_cd"
              label="性别"
              align="center">
          </el-table-column>
          <el-table-column
              prop="age"
              label="年龄"
              align="center">
          </el-table-column>
          <el-table-column
              prop="nation_cd"
              label="民族"
              align="center"
              :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column
              prop="iden_docu_type_cd"
              label="证件类型"
              align="center"
              :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column
              prop="iden_docu_num"
              label="证件号码"
              align="center">
          </el-table-column>
          <el-table-column
              prop="hous_reg_loc_dtl_addr"
              label="户籍所在地详细地址"
              align="center"
              :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column
              prop="curr_resi_dtl_addr"
              label="现居住地详细地址"
              align="center"
              :show-overflow-tooltip="true">
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </div>
</div>
<script src="${request.contextPath}/static/js/module/query/popu.js?_${.now?long}"></script>
</body>
</html>