#rrapp,#app{;height:100%;width:100%;overflow-y: auto;overflow-x: hidden;}
html,body { overflow:hidden;height:100%;width:100%;margin:0;padding:0;}
body{background:#f5f4f9;}
a,a:hover,a:visited{text-decoration: none;}
li{list-style: none;}
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}

.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}

.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}

[v-cloak] {
  display: none;
}

.grid-btn{
	margin-bottom:12px;
	padding-left: 6px;
}
.grid-btn .btn{
	margin-right:10px;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
	.ml-10 { margin-left:10px !important; }
	.col-sm-10 {width: 70%;padding-left: 0px;}
	.col-sm-2 {width: 24%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f5f5f5;}
.row{
	/*border-top: 1px solid #ddd;*/
	margin:0;
	padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
	 width:550px; 
	padding-top:20px;
}
.form-horizontal_auto{
	padding-top:20px;
}
.do-success {
	/* border: 1px solid #999; */
	text-align: center;
    background: #e6e6e6 !important;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.3)!important;
}
.do-success-content {
	padding-top: 23px;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	text-align: center;
	
}
.layui-layer-content{
	border:1px solid #dcd5d5;
	border-bottom:0px solid red;
}
.doc-title{text-align:center;}
.doc-title h3{margin:9px 0;}
.doc-table{ border:2px solid #EBEEF5; margin:0 10px;background-color:#fff;   }
.doc-table .section{font-weight:bold;line-height:40px;padding:2px 5px;border-bottom:1px solid #EBEEF5;border-top:1px solid #EBEEF5;}
.doc-table .item{line-height:40px;padding:2px 5px; display:flex;}
.doc-table .value{flex:1;}
.doc-table .label{width:140px;vertical-align: top;}
.doc-table .cell{flex:1;}
.doc-table .el-input--mini .el-input__inner {
	border-bottom:1px solid #DFE0E4;
	border-left:none;
	border-top:none;
	border-right:none;
	border-radius:0;
}
.scroll-fix-show{overflow:visible;position:static;}
.scroll-fix .el-scrollbar__wrap,.scroll-fix-show .el-scrollbar__wrap{overflow-y:scroll;overflow-x:hidden;}